.detail{
    background: #F0F0F0;
}
.content{
    background: #fff;
    padding: 30px 20px 0 20px;
    border-radius: 10px;
}
.navigation{
    padding-top: 30px;
}

.mavigation ul{
    display: -webkit-box;
    overflow: scroll;
}
.navigation ul li{
    position: relative;
    padding: 0 10px;
}
.navigation ul li a{
    color: #333;
}
.navigation ul li a:hover{
    text-decoration: underline !important;
}
.navigation ul li:first-child{
    margin-left: -10px;
}
.nav-last a{
    color: #FE8830 !important;
}
.nav-last::before{
    display: none;
}
.navigation ul li::before{
    content: "";
    position: absolute;
    border-right: 2px solid #333;
    width: 1px;
    height: 14px;
    right: 0;
    bottom: 4px;
}

.detail-title h3{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 32px;
}
.detail-boximg{
    width: 100%;
}
.detail-boximg img{
    width: 100%;
    height: auto;
    image-rendering: pixelated;
}
.secton1__small{
    margin-top: 15px;
}
.detail__header-right ul{
    overflow: hidden;
}
.detail__header-right ul li h3{
    color: #111;
}
.detail__header-right ul li{
    font-weight: 700;
    color: #747474;
}
.detail__header-right ul li:last-child{
    padding-top: 10px;
}
.detail__header-right ul li:nth-child(2),
.detail__header-right ul li:nth-child(3),
.detail__header-right ul li:nth-child(4){
    padding-left: 17px;
}
.detail__header-right ul li span{
    padding: 10px 0;
    border-bottom: 1px solid #b7b7b7;
}
.detail__header-right ul li span a{
    color: #333;
}
.icon-address{
    color: #333;
}
.section1-sup{
    padding-top: 55px;
}
.setion1-btn-red{
    flex-basis: 35%;
    height: 40px;
    background: #c72528;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    border: 0;
    border-radius: 7px;
} 
.setion1-btn-red:hover{
    border: 1px solid #c72528;
    color: #c72528;
    background: #fff;
}
.section1-btn-blue{
    flex-basis: 60%;
    height: 40px;
    background: #0079b6;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    border: 0;
    border-radius: 7px;
}
.section1-btn-blue:hover{
    border: 1px solid #0079b6;
    color: #0079b6;
    background: #fff;
}
.icon-slide{
    margin-top: -10px;
}
.splide__arrows button{
    top: 37% !important;
    background: #c72528;
    
}
.splide__arrows button svg path{
    color: #fff !important;
}
/* detail__secton2 */
.detail__secton2{
    margin-top: 40px;
}
.detail__secton2-left{
    line-height: 1.8;
}
.detail__secton2-left span{
    font-weight: 700;
}
.detail__secton2-left p{
    margin-top: 10px;
}
.detail__secton2-nav{
    margin-top: 15px;
    line-height: 2.3;
}
.section-title{
    background: #F3F3F3;
    height: 42px;
}
.section-title h3{
    display: flex;
    align-items: center;
    height: 100%;
    color: #E0A501;
    font-size: 1.2rem;
}
.section-title i{
    background: #fff;
    color: #E0A501;
    font-size: 2.9rem;
    margin-right: 10px;
}
.box-section2{
    margin: 12px 0;
    padding-right: 18px;
    font-size: 0.9375rem;
}
.box-right{
    background: #E39A00;  
    padding: 5px 0;
    border-radius: 5px;
}
.icon-boxsection2{
    font-weight: 700;
}
.icon-boxsection2 i{
    color: #c72528;
}
.header-boxsection2{
    color: #fff;
    align-items: center;
    justify-content: space-around;
}
.boxsection2__img{
    width: 92px;
    height: 92px;
    border-radius: 50px;
}
.boxsection2__img img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
}
.boxsection2__title{
    line-height: 1.5;
}
.body-boxsection2{
    background: #fff;
    margin: 20px 3px 0 3px;
    padding-top: 15px;
}
.section2-form{
    align-items: center;
}
.body-boxsection2 input{
    width: 92%;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid #E9E9E9;
    padding-left: 10px;
}
.body-boxsection2 textarea{
    border: 1px solid #E9E9E9;
    padding-left: 10px;
    width: 92%;
}
.btn-boxsection2{
    width: 93%;
    background: #000000;
    color: #fff;
    text-transform: uppercase;
    height: 40px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 20px;
    opacity: 0.7;
}
.btn-boxsection2:hover{
    opacity: 1;
}
.detail__information{
    margin: 30px 0;
    background: #fff;
    border-radius: 10px;
}
.detail__information-title{
    padding: 15px 0 15px 10px;
}
.detail__information-title h4{
    font-weight: 700;
}

.detail__slider ul{
    padding-bottom: 10px !important;
}